@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*
{
	font-family: 'Montserrat', sans-serif;
}
.black_overlay
{
	background-color: black;
	display: none;
	height: 110vh;
	left: 0%;
	opacity: 0.7;
	position: absolute;
	top: 0%;
	width: 100%;
	z-index: 1001;
}
.envelope
{
	background-color: white;
	border-radius: 5%;
	display: none;
	height: 95vh;
	margin: 0 auto;
	min-width: 400px;
	position: relative;
	text-align: center;
	width: 35%;
	z-index: 1002;
}
.envelope input
{
	border-radius: 1em;
	display: inline-block;
	font-size: 0.8em;
	height: 2em;
	margin: 0.8em;
	padding-left: 2em;
	width: 75%;
}
.envelope .consent
{
	text-align: left;
	width: auto;
}
label
{
	display: inline;
	font-size: 0.8em;
}
.r
{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 10%;
}
.FormHeader
{
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	display: inline-block;
	height: 4em;
	width: 100%;
}
a
{
	text-decoration: none;
}
.FormButtonRight
{
	background-color: #ffcc00;
	border: 0;
	border-top-right-radius: 1em;
	color: white;
	float: left;
	font-size: 1.3em;
	font-size: 110%;
	height: 2.2em;
	padding-top: 3%;
	width: 50%;
}
.FormButtonLeft
{
	background-color: #ffcc00;
	border: 0;
	border-top-left-radius: 1em;
	color: white;
	float: left;
	font-size: 1.3em;
	font-size: 110%;
	height: 2.2em;
	padding-top: 3%;
	width: 50%;
}
.FormButtonLeft:hover
{
	background-color: white;
	color: black;
}
.FormButtonRight:hover
{
	background-color: white;
	color: black;
}
#btn
{
	background-color: #ffcc00;
	border: 0px;
	color: white;
	font-size: 1em;
	height: 2em;
	margin-bottom: 3%;
}
.form-group
{
	position: relative;
}
